<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" placeholder="paste the roomId here" name="roomId" required>  
        <button type="submit">Join</button>
    </form> 
    
    <script>
      const form=document.querySelector('form');

      form.addEventListener('submit',async(e)=>{
        e.preventDefault();

        const roomid=form.roomId.value;
        try{
          const res=await fetch('/chatroom',{
            method:'POST',
            body:JSON.stringify({roomid}),
            headers:{'Content-Type':'application/json'}
          });
        }catch(e){
          console.log(e);
        }
      });
      form.reset();
    </script>
</body>
</html>
