<%- include('partials/header'); %>
  <link rel="stylesheet" href="login.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <p class="navbar-brand"><span class="header">Video Chat App </span></p>
  
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/signup" class="log_in">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="text-sm-start">
        <div class="container">
            <div class="row align-items-center justify-content-between">    
                <div class="col-md p-5 pt-3">
                    <img src="./images/login/resize.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md p-5">
                    <h3 class="sign_in_with">Sign in with</h3>
                      <form>
                        <div class="mb-3">
                          <label for="email" class="form-label fs-5">Email</label>
                          <input type="email" class="form-control" name="email" required>
                          <div class="email error"></div>
                        </div>
                        <div class="mb-3"> 
                          <label for="password" class="form-label fs-5">Password</label>
                          <input type="password" class="form-control" name="password" required>
                          <div class="password error"></div>
                        </div>  
                          
                          <button class="btn btn-dark btn-lg mb-2">Log In</button>
                          <div class="row mb-3"><p class="dont">Don't have an account?<span><a href="/signup" class="register_here">Register here</a></span></p></div>
                      </form>
                </div>
            </div>
        </div>
        
    </section>

    <footer class="bg-dark text-white text-center position-absolute p-3">
      <div class="container">
        <p class="footer_p">Copyright &copy; 2021 Video Chat App. All rights reserved.</p>
      </div>
    </footer>
    
    <script>
      const form=document.querySelector('form');
      const emailError = document.querySelector('.email.error');
      const passwordError = document.querySelector('.password.error');

    
      form.addEventListener('submit', async(e)=>
      {
          e.preventDefault();

          // reset errors
          emailError.textContent='';
          passwordError.textContent='';

          // get values
          const email=form.email.value;
          const password=form.password.value;

          try{
              const res=await fetch('/login',{
                  method:'POST',
                  body:JSON.stringify({email:email,password:password}),
                  headers:{'Content-Type':'application/json'} 
              });
              const data=await res.json();
              console.log(data);
              if(data.errors)
                  {
                      emailError.textContent=data.errors.email;
                      passwordError.textContent=data.errors.password;
                  }
              if(data.user)
                  {
                      location.assign('/');
                  }
          }catch(e){
              console.log(e);
          }      
      });
</script>

<%- include('partials/footer'); %>